#body {
	background-color: #74CF79;
}

#right-header {
	margin-left: auto;
	margin-top: auto;
	margin-bottom: auto;
	margin-right: auto;
}

/*I don't know why my css wont work, I dont see anything wrong with the link*/

